* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  background: #e1e5f7;
  position: relative;
  height: 100vh;
  width: 100%;
}

.container .position {
  left: 0 !important;
}

.container .side-bar {
  height: 100vh;
  width: 350px;
  background: #f0f0f1;
  padding: 20px;
  position: absolute;
  top: 0;
  left: -400px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 10px 0 50px #00000054;
          box-shadow: 10px 0 50px #00000054;
}

.container .side-bar .side-bar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.container .side-bar .side-bar-brand .brand-name {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 5px;
  text-shadow: 0 3px 5px #00000073;
  cursor: pointer;
}

.container .side-bar .side-bar-brand .button {
  position: relative;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}

.container .side-bar .side-bar-brand .button div {
  height: 4px;
  width: 20px;
  background: #df1818;
  border-radius: 10px;
}

.container .side-bar .side-bar-brand .button div:nth-child(1) {
  position: relative;
  top: 4px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container .side-bar .list-item {
  margin-bottom: 40px;
  position: relative;
}

.container .side-bar .list-item ul li {
  list-style-type: none;
  margin-bottom: 20px;
}

.container .side-bar .list-item ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #17528a;
}

.container .side-bar .social-netwark {
  position: absolute;
  bottom: 100px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .side-bar .social-netwark div {
  margin: 0 10px;
}

.container .side-bar .social-netwark div i {
  font-size: 20px;
  cursor: pointer;
  color: #2998ff;
}

.container .menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px;
  cursor: pointer;
}

.container .menu-btn div {
  width: 40px;
  height: 4px;
  background: #2998ff;
  margin: 5px;
}
